/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


 // Default mixins and settings -----------------
 @import "../template/mixins";
 @import "../template/settings";
 // ---------------------------------------------



 @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
 @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Work+Sans:400,600,700,900');
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Roboto|Vollkorn:400,500,700');
 @import "./font-awesome/scss/font-awesome";
 // Include theme-specific fonts

 // Override theme settings (see ../template/settings.scss)
 $mainFont: 'Roboto', sans-serif;
 $mainFontSize: 18pt;
 $mainFontWeight: 400;
 $mainColor: #fff;
 $headingFont: 'Noto Sans SC', sans-serif;
 $headingColor: #fff;
 $headingFontWeight: 'regular';
 $headingMargin: 0 0 .4em 0;
 $headingTextShadow: none;
 $headingLineHeight: auto;
 $headingTextTransform: none;
 $headingTextFontVariant: none;
 $codeFont: 'Fira Mono';
 $codeFontSize: 18pt;
 $codeFontWeight: 400;
 $backgroundColor: #296997;
 $linkColor: #ffaaaa;
 $linkColorHover: lighten( $linkColor, 20% );
 $selectionBackgroundColor: rgba(0, 0, 0, 0.99);

 // Theme template ------------------------------
 @import "../template/theme" ;
 // ---------------------------------------------

 // logo
 body {
   background-size: 5%;
   border: 1px solid black;
   background-image: url("/images/white-horsehead.png"); //url("/images/HorseHead.png");
   background-position-x: 98%;
   background-position-y: 2%;
   background-repeat: no-repeat;
 }

 .reveal {
   h1 {
     font-size: 2em;
     font-weight: bold;
   }
   h2 {
     font-weight: $headingFontWeight;
     font-size: 1.8em;
     font-variant: $headingTextFontVariant;
     line-height: 1.2em;
     text-align: left;
     border-bottom: 1px solid white;
     code {
       font-size: 0.9em;
       font-family: $codeFont;
       color: yellow;
       font-weight: bold;
     }
   }
   h3 {
     font-weight: $headingFontWeight;
     color: yellow;
     font-size: 1.2em;
     line-height: 1.4em;
     margin-top: 0.4em;
     margin-bottom: 0;
   }
   p {
     margin: 1px;
     font-size: 1.5em;

     font-family: $mainFont;
     font-weight: $mainFontWeight;
     line-height: 1.6em;
   }

   pre {
     font-family: $codeFont;
     color: black;
     background: white;
     font-size: $codeFontSize !important;
     font-weight: $codeFontWeight !important;
     margin-left: 5px;
     margin-top: 2px;
     margin-bottom: 5px;
     margin-right: 10px;
     code {
       max-height: 800px !important;
       max-width: 90% !important;
       .line-numbers {
        margin-right: 1em;
       }
     }
   }

   .ulist {
     font-weight: $mainFontWeight !important;
   }
   ul {
     padding-left: 0.3em !important;
     li {
       padding-top: 0em !important;
       padding-bottom: 0.1em !important;
     }
     ul {
       padding-top: .2em !important;
     }
   }

   p code, li code {
     font-weight: normal;
     color: yellow;
   }

   p em, li em {
     font-weight: normal;
     color: aqua;
   }

   .slides {
     section img {
       background-color: #296997 !important;
       border: none !important;
       box-shadow: none !important;
       height: auto;
     }

     section.present {
       text-align: left;
       vertical-align: top;
     }

     // let's hope there are no bold lines in the text!
     div.listingblock > div > pre > code > b {
       float: right;
       padding-right: 1em;
       color: #aa0000;
     }

     .listingblock {
       width: 100% !important;
       font-family: $codeFont;
       .title {
         padding-bottom: 0.5em;
         text-align: center;
         font-family: $headingFont;
         font-weight: 700;
         color: #FF0;
       }
     }

     .colist .arabic {
       font-family: $codeFont;
       margin-left: 0px;
       margin-top: 12px;
       margin-bottom: 5px;
       margin-right: 75px;
       padding-right: 1em;
     }
     .reveal table th,tr td {
       font-family: $codeFont !important;
       font-size: 1.0em;
       line-height: 1.0em !important;
       border: none !important;
     }

     .tableblock {
        border: 1px solid white !important;
        p {
          border: none !important;
        }
      }
  }
  .slides .admonitionblock table {
     tbody {
       tr {
         text-align: left;
       }
     }
     margin-top: 2em;
     border: 2px solid white;
     background-color: #970029;

     width: 100%;
   }
   .slides {
      .important-text {
        text-align: center;
        padding-top: 20%;
        font-size: 2em;
      }
    }
 }

 // Angular Presentation

.colist table {
  margin: initial;
}
.reveal .slides div.listingblock > div > pre > code > b {
  float: initial;
}

.CodeRay .error {
 color: #000000 !important;
 background-color: initial !important;
}

section[data-state="vs"] li {
  padding-top: 3em !important;
}

section[data-state="vs"] ul > li {
   padding-top: 3em !important;
 }

section[data-state="vs"] li ul > li {
  padding-top: initial !important;
}
